# ===== ENV FILES =====
FarishtaaBackend/.env
FarishtaaFrontend/.env

# ===== NODE MODULES =====
FarishtaaBackend/node_modules/
FarishtaaFrontend/node_modules/

# ===== BUILDS =====
FarishtaaFrontend/dist/
FarishtaaFrontend/build/

# ===== LOGS =====
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# ===== OS FILES =====
.DS_Store
Thumbs.db
